/*===========================
        General
============================*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    max-width: 30vw;
    border: 5px solid #efefef;
    border-radius: 15px;
}

h1, h3, p{
    color: #fff;

}

h3{

    color: #30819f;
}

label, input{
    display: block;
}

/*===========================
        Content
============================*/

nav{
    background: #30819f;
    margin-bottom: 3vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2%;
}

fieldset{
    background: #efefef;
    padding: 2vh 1vw;
    margin:0 1vw 2vh 1vw;
    border-radius: 8px;
    border: 0;
}   

fieldset>input{
    height: 3vh;
    width: 25vw;
}

fieldset>input:focus{
    outline: none;
    box-shadow: 0 0 3px 3px #30819f;
}

h3{
    font-weight: bold;
    color: #30819f;
    display: inline-block;
}


form>input:nth-last-child(2){
    padding: 0.5vh 1vw;
    background: darkcyan;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-left: 1vw;
    border: 3px solid #fff;
}

form>input:nth-last-child(2):active{
    background: #30819f;
    border: 3px solid #333;
}

form>input:nth-last-child(1){
    margin-left: 8vw;
    display: inline;
    color: #30819f;
}

.circle{
    height: 15px;
    width: 15px;
    background: #30819f;
    border-radius: 50%;
    display: inline-block;
    color: white;
    padding: 1px 0 3px 5px;
}